/*individual header configuration*/

.btn--right {

    display: none;

}

.final-line {


    margin-top: 225px;

}

.match-content-wraper {

    width: 100%;
    height: 300px;
    margin-top: 85px;

}

.vs-text {

    margin-top: 100px;

}

#final-last-element {

    margin-top: 200px;

}

/*container float inversion configuration*/

.container-float-left {

    width: 17%;

}

.container-float-right {

    width: 83%;

}