/*preset configuration*/

a {

    text-decoration: none;

}

.body--container {

    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: fixed;
    

}

/*clearfix configuratino*/

.clearfix::after {

    content: "";
    clear: both;
    display: block;

}

/*header configuration*/

.header {

    width: 100%;
    height: 230px;
    display: block;

}

.split-view-container {

    padding-top: 30px;

}

.float--left {

    float: left;
    width: 25%;
    height: 50px;

}

.float--middle {

    width: 50%;
    float: left;
    height: 50px;

}

.float--right {

    float: right;
    width: 25%;
    height: 50px;

}

/*individual element configuration */

.main-title {

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 300;

}

.sub-title {

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 300;
    text-align: center;

}

.class-text {

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 600;
    text-align: center;

}

.vs-text {

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.date-text {

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    margin-left: 15px;

}


/*button element configuration */

.btn-blue {

    background-color: #4F67C1;
    width: 300px;
    height: 70px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    box-shadow: 9px 10px 20px 7px rgba(0,0,0,0.11);
    -webkit-box-shadow: 9px 10px 20px 7px rgba(0,0,0,0.11);
    -moz-box-shadow: 9px 10px 20px 7px rgba(0,0,0,0.11);

}

.btn--left {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #4F67C1;
    

}

.btn--left:hover {

    cursor: pointer;

}

.btn--right { 

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
    border: none;
    background-color: #4F67C1;
    

}

.btn--right:hover {

    cursor: pointer;

}

.select-sports-wraper {

    display: inline-block;
    margin-top: 30px;
    color: black;


}

.btn-select-sports {

    width: 120px;
    background: #4F67C1;
    height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}

.btn-select-sports p {

    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 300;
    text-align: center;

}

.icon-arrow {

    width: 40%;
    height: 50%;
    padding-top: 13px;
    padding-left: 15px;

}

/* hover effect configuration*/

.hover--effect:hover {

    filter: brightness(85%);

}

/*logo configuration */

.logo-full {

    width: 130px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: block;
    padding-top: 40px;

}

/*main match wraper configuration */

.match-content-wraper {

    background-color: #EFEFEF;
    width: 280px;
    height: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 30px;

}

.match-content-wraper .match-content-text-wraper {

    padding-top: 20px;

}

/*content-float-- configuration */

.container-float-left {

    float: left;
    width: 70%;

}

.container-float-right {

    float: right;
    margin-left: 0;
    width: 30%;

}

/*winner looser assignment class */

.winner--color {

    color: #4F67C1;

}

.loser--color {

    color: #ABABAB;

}

/*date-assigment class*/

.current-day-competition-held {

    background: white;
    border: 4px solid #4f67c1;
}